* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  /* transition: 0.9s ease-in-out; */
}

.nav {

  width: 100%;
  padding: 20px 0px;
  background-color: #EDEBF1;
  /* the secondary color*/
  position: fixed;
  z-index: 1000;
  top: 0px;
}

.navwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0px;
  width: 90%;
  gap: 0px;
}

.homediv ul {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: auto;
  list-style: none;
}

.homediv ul a {
  text-decoration: none;
}

.contact {
  padding: 10px 30px;
  background-color: #27194C;
  /* the primary color*/
  border-radius: 10px;
  cursor: pointer;
}

.contact li a {
  color: white;
}

.contact:hover {
  background-color: #674CAE;
  transition: 0.5s ease;
}

.home a {
  color: #674CAE;
  /* the accent color*/
}

.home2 a {
  color: black;
}

.home2 a:hover {
  color: #674CAE;
  transition: 0.5s ease;
}



/* Hamburger Icon */
.hamburger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  display: none;
}

.hamburger div {
  width: 100%;
  height: 4px;
  background-color: #674CAE;
  transition: all 0.3s ease;
}

/* Hamburger Animation */
.hamburger.active .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .line2 {
  opacity: 0;
}

.hamburger.active .line3 {
  transform: rotate(-45deg) translate(6px, -8px);
}

/* Menu */
.menu {
  position: fixed;
  right: -300px;
  top: 0;
  width: 200px;
  background-color: #EDEBF1;
  padding-top: 60px;
  transition: right 0.3s ease;
  z-index: 1;
}

.menu ul li:hover {
  background-color: #674CAE;
  cursor: pointer;
}

.menu.active {
  right: 0;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px 15px;
  border-bottom: 1px solid #27194C;
}

.menu a {
  text-decoration: none;
  display: block;
}

.menu a:hover {
  color: white;
  border: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index: 0;
}

.overlay.active {
  display: block;
}

.menu-bar {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  padding: 20px;
  display: none;
  width: 100%;
  transition: all 0.3s ease;
}

@media(max-width:900px) {
  .inner-homediv {
    display: none;
  }

  .hamburger {
    display: block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
  }

  /* will later change the navbar width later */
  .navwrapper {
    width: 90%;
    margin: auto;
  }

}

/* CONTACT SECTION */
.contact-section {
  align-items: center;
  width: 100%;
  background: #27194C;
  color: white;
}

.contact-info {
  width: 50%;
  margin: auto;
}

.form {
  width: 50%;
  margin: auto;
}

.form p {
  text-align: center;
  padding: 10px;
  font-size: larger;
  color: #674CAE;
}

.contact-info h3 {
  padding: 0px 10px;
}

.contact-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.contact-text {
  text-align: center;
  padding: 10px 0px;
}

.contact-text h3 {
  width: 50%;
  padding: 10px;
  margin: auto;
}

.contact-text p {
  width: 40%;
  margin: auto;
}

.contact-info-envlope {
  display: flex;
  align-items: center;
  padding: 20px 0px;
}

.contact-info-envlope .bxr {
  padding: 0px 10px;
  color: #674CAE;
}

.details a {
  color: rgba(245, 222, 179, 0.503);
}

.message-box {
  width: 100%;
  background: #674CAE;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  padding: 10px;
}

.message-input {
  width: 60%;
  display: flex;
  margin: auto;
  padding: 10px 0px;
}

.form input {
  display: flex;
  height: 40px;
  border: none;
  width: 60%;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
}

.chat-container {
  /* width: 70% !important; */
  margin: auto;
}

.chat-input-container {
  display: flex;
  align-items: center;
  width: 60%;
  margin: auto;
  border-radius: 5px;
}

textarea {
  flex: 1;
  border: none;
  color: black;
  resize: none;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  min-height: 120px;
  max-height: 120px;
  padding: 5px;
}

.form-button {
  display: flex;

  width: 60%;
  padding: 10px;
  margin: 10px auto;
  color: #EDEBF1;
  background: #27194C;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-button:hover {
  background: #674CAE;
  transition: 0.5s;

}

@media(max-width:800px) {
  .contact-section {
    display: block;
    width: 100%;
  }

  .message-box input {
    width: 100%;
  }

  .chat-input-container {
    width: 100%;
  }

  .contact-wraper {
    display: block;
    width: 95%;
    margin: auto;
  }

  .contact-info {
    width: 95%;
    margin: auto;
  }

  .form {
    width: 95%;
    margin: auto;
  }

  .contact-text p {
    width: 95%;
  }

  .in {
    width: 95%;
  }

  .message-input {
    width: 100%;
  }

}

/* hr{
  display: flex;
  width: 90%;
  align-items: center;
  margin: auto;
  border: 1px solid black;
} */
/* footer...................... */
.footer-container {
  display: flex;
  align-items: center;
  width: 100%;
  background: #EDEBF1;
  border: 2px solid red;
}

.footer-wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  border: 2px solid blue;
}